{% extends 'core\base.html'%}
{% load static %}
{%block js%}
<script src="{% static 'core/js/ApiNoticias.js'%}"></script>
{%endblock%}
{%block contenido%}

  <div class="container">
      <div class="row">
          <h1>NOTICIAS ESPACIALES</h1>
      </div>
      <div class="row">
          <button type="button" class="btn w-100" id="enviar">🚀 Mostrar todas las Noticias Espaciales 🚀</button>
      </div>

      <div class="row">
          <table class="table" id="noticias">
              <thead>
                  <tr>
                      <th scope="col">Titulo</th>
                      <th scope="col">Portal de Noticias</th>
                      <th scope="col">Resumen</th>
                      <th scope="col">Imagen</th>
                      <th scope="col">Link Noticia</th>
                  </tr>
              </thead>
              <tbody>
      
              </tbody>
          </table>
      </div>
  </div>
{%endblock%}