{% extends 'core\base.html'%}
{% load static %}
{%block js%}
{%endblock%}
{% block contenido%}
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
      <div class="carousel-item active">
       <img style=" width: 10px; height: 400px;" src="{% static 'core/img/news.png'%}" class="d-block w-100" alt="...">
       <h6 class="display-5">{{n.NombreNoticia}}</h6>
      </div>
      {%for n in noticias%}
      <div class="carousel-item">
        {% if n.imagen %}
        <img style=" width: 10px; height: 400px;" src="{{n.imagen.url}}" class="d-block w-100" alt="...">
        {% endif %}
       <h6 class="display-5">{{n.NombreNoticia}}</h6>
      </div>
      {% endfor %}
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
  </div>
  
  <div class="pading"></div>
  
  <div class="row align-items-center">
    <div class="col">
    <h6>Noticias</h6>
    </div>
    <div class="col">
        <div class="d-grid gap-2 ">
        <div class="btn-group">
            <button class="btn $gray-300 btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'nacional'%}">Nacional</a></li>
                     <li><a class="dropdown-item" href="{% url 'mundo'%}">Mundo</a></li>
                     <li><a class="dropdown-item" href="{% url 'datoutil'%}">Dato Útil</a></li>
          </ul>
          </div>
          </div>
         
    </div>
    <div class="col">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn $teal-300 btn-secondary btn-lg" href="{% url 'pagperiodista'%}" role="button" >   Periodistas   </a>
        </div>
    </div>
    
    <div class="col">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn $teal-300 btn-secondary btn-lg" href="{% url 'galeriadefotos'%}" role="button" >Galería</a>
    </div>
    </div>
  </div>

  <div class="pading"></div>
  <div class="col">
    <h6>Destacados</h6>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {%for n in noticias%}
    <div class="col">
      <div class="card">
        {% if n.imagen %}
        <img src="{{n.imagen.url}}" class="card-img-top" alt="...">
        {%endif%}
        <div class="card-body">
          <a href="{% url 'mundo1'%}" id="fontcardindex">{{n.NombreNoticia}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}