{% extends 'core\base.html'%}
{% load static %}
{%block js%}
{%endblock%}
{%block contenido%}
<div class="card text-center mx-5">
    <div class="card-header">
      <h6 class="card-title">¿Quienes Somos?</h6>
    </div>
    <div class="card-body">
      <p class="card-text">Somos un grupo de jóvenes estudiantes de periodismo y de comunicación audio visual, cansados de los medios 
        tradicionales y decidimos formar un colectivo de noticias llamado “Caos News”.
        Cada una de las personas que se une a esta idea, aporta con su experiencia y de esta forma asignan las 
        tareas a cada uno de los integrantes para tratar de cubrir de la mejor forma posible las noticias que están 
        pasando en Chile y el mundo con una mirada fresca y joven.</p>
    </div>
  </div>
{%endblock%}
