{% extends 'core\base.html'%}
{% load static %}
{%block js%}
{%endblock%}
{%block contenido%}
<div class="container">
    <h6><a href="{% url 'pagperiodista'%}" id="volverperiodistas">>Periodistas</a></h6>
    <div class="row justify-content-center">
    <div class="card w-50" id="blockborder2">
      <div class="card-body justify-content-center" >
        <h6 class="display-6"> Nombre: Marcos Bandera </h6>
        <h6 class="display-6"> <img src="{% static 'core/img/imgperiodistas/Periodista4.jpg'%}" id="imgderecha" width="150px" height="170px" alt=""> Edad: 25</h6>
        <h6 class="display-6">Categorías: Mundo</h6>
        <h6 class="display-6">Ocupación/es: Estudia en la universidad USACH y es primera linea </h6>
        <h6 class="display-6">Cantidad Noticias: 1 </h6>
        <div class="pading"></div>
      </div>
    </div>
    </div>
    </div>
{%endblock%}