{% extends 'core\base.html'%}
{% load static %}
{%block js%}
{%endblock%}
{%block contenido%}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-body">
        <h2>Listado Noticias</h2>
        <hr>
        <table class="table-striped table-hover table-responsive-sm">
            <tr>
                <th>Título</th>
                <th>Fecha</th>
                <th>Categoría</th>
                <th>Ubicación</th>
                <th>Opciones</th>
            </tr>

            {%for n in noticias%}
            <tr>
                <td>{{n.NombreNoticia}}</td>
                <td>{{n.Fecha}}</td>
                <td>{{n.categoria}}</td>
                <td>{{n.Ubicacion}}</td>
                <td>
                    <a href="{% url 'modificar_noticia' n.id %}" class="btn btn-info btn-sm">Modificar</a>
                    <a href="{% url 'eliminar_noticia' n.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{%endblock%}