{% extends 'core\base.html'%}
{% load static %}
{%block js%}
<script>
    function eliminarnoticia(id){
        Swal.fire({
            "title":"¿estas seguro?",
            "text":"esta accion no se puede devolver",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText" :"No, Cancelar",
            "confirmButtonText":"Si,Eliminar"
        })
        .then(function(result){
            if(result.isConfirm){
                widow.location.href = "/eliminar-noticia/"+id+"/"
            }
        })
    }
</script>
{%endblock%}
{%block contenido%}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-body">
        <h2>Listado noticias</h2>
        <hr>
        <table class="table-striped table-hover table-responsive-sm">
            <tr>
                <th>titulo</th>
                <th>fecha</th>
                <th>categoria</th>
                <th>ubicacion</th>
                <th>opciones</th>
            </tr>

            {%for n in noticias%}
            <tr>
                <td>{{n.NombreNoticia}}</td>
                <td>{{n.Fecha}}</td>
                <td>{{n.categoria}}</td>
                <td>{{n.Ubicacion}}</td>
                <td>
                    {% if perms.core.change_noticia %}
                    <a href="{% url 'modificar_noticia' n.id %}" class="btn btn-info btn-sm">modificar</a>
                    {%endif%}
                    {% if perms.core.delete_noticia %}
                    <a href="#" onclick="eliminarnoticia({{n.id}})" class="btn btn-danger btn-sm">eliminar</a>
                    {%endif%}
                </td>
            </tr>
            {%endfor%}

        </table>
    </div>
</div>
{%endblock%}